@using FlightSchoolCm.UI.Services;
@inject IMaintainersApiClient MaintainersApiClient

<PageTitle>Maintainers</PageTitle>

@if (_maintainers is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="@_maintainers" Hover="true" Breakpoint="Breakpoint.Sm" Class="mt-4" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="SELECT">
                <a href="/maintainer/edit/@context.Id" role="button">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>
                </a>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    private List<MaintainerVm>? _maintainers;

    protected override async Task OnInitializedAsync()
    {
        _maintainers = await MaintainersApiClient.GetMaintainersAsync();
    }
}