@page "/fetchdata"
@using FlightSchoolTss.UI.Services;
@inject MaintainersApiClient maintainerApi

<PageTitle>Maintainers</PageTitle>

<h1>Maintainers</h1>

@if (maintainers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var maintainer in maintainers)
            {
                <tr>
                    <td>@maintainer.Id</td>
                    <td>@maintainer.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MaintainerVm>? maintainers;

    protected override async Task OnInitializedAsync()
    {
        maintainers = await maintainerApi.GetMaintainersAsync();
    }
}
